[submodule "datasets-covid-19"]
	path = data/datasets-covid-19
	url = https://github.com/datasets/covid-19
# [submodule "CSSEGISandData-COVID-19"]
# 	path = data/CSSEGISandData-COVID-19
# 	url = https://github.com/CSSEGISandData/COVID-19